# The requirements listed here are for use with Jupyter notebook.
# Other requirements are listed in setup.cfg.
# See also: https://caremad.io/posts/2013/07/setup-vs-requirement/

-e .
git+ssh://git@github.com/BodenmillerGroup/simutome
jupyterlab
matplotlib
napari[all]
numpy
pandas
scipy
seaborn
tifffile
